{% extends "_app_layout.html" %}

{% block header_right %}
  {{ pagination(start_index, end_index, filtered_links, page, total_pages, pager_base, label="links", label_singular="link") }}
{% endblock header_right %}

{% block facets %}
  {{ facet_group("format") }}
  {{ facet_group("domain", search=true) }}
  {{ facet_group("created_year") }}
  {{ facet_group("publisher", search=true) }}
{% endblock facets %}

{% block table %}
  <div class="table-wrap">
    <table class="data-table">
      <thead>
        <tr>
          <th class="col-text">{{ sort_link("name", "Name", sort, dir, facet_qs) }}</th>
          <th>{{ sort_link("domain", "Domain", sort, dir, facet_qs) }}</th>
          <th class="col-text">{{ sort_link("format", "Format", sort, dir, facet_qs) }}</th>
          <th class="col-text">{{ sort_link("dataset_title", "Dataset", sort, dir, facet_qs) }}</th>
          <th class="col-text">{{ sort_link("org_display_name", "Publisher", sort, dir, facet_qs) }}</th>
        </tr>
      </thead>
      <tbody>
        {% for l in links %}
          <tr>
            <th scope="row" class="col-text">{{ resource_name(l.name, l.description, l.url, title=l.url) }}</th>
            <td class="domain-cell" title="{{ l.host or '' }}">{{ l.host or "—" }}</td>
            <td class="col-text">{{ format_badge(l.format, l.format_raw) }}</td>
            <td class="col-text">
              <a href="/dataset/{{ l.org_slug }}/{{ l.dataset_id }}">{{ l.dataset_title }}</a>
            </td>
            <td class="col-text">
              {{ l.org_display_name }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script defer src="{{ static('facets.js') }}"></script>
{% endblock table %}
