{% extends "_app_layout.html" %}

{% block header_left %}
  {{ back_link('/metadata', 'Metadata fields') }}

  <h1>Metadata: {{ field_label }}</h1>
  <p class="subtitle">
    {{ non_empty_count | num }} datasets have a value set
    {% if non_empty_count != dataset_count %}
      ({{ dataset_count | num }} have the field, {{ (dataset_count - non_empty_count) | num }} empty)
    {% endif %}
  </p>
{% endblock header_left %}

{% block header_right %}
  {{ pagination(start_index, end_index, total, page, total_pages) }}
{% endblock header_right %}

{% block table %}
  {% if rows | length %}
    <div class="table-wrap">
      <table class="data-table data-table--wide-first">
        <thead>
          <tr>
            <th>Value</th>
            <th class="col-num">Count</th>
            <th class="col-num">% of field</th>
          </tr>
        </thead>
        <tbody>
          {% for r in rows %}
            <tr>
              <td>
                {% if r.value != '(empty)' and r.value != '__other__' %}
                  <a href="/datasets?metadata_key={{ field_key | urlencode }}&metadata_value={{ r.value | urlencode }}"><code>{{ r.value }}</code></a>
                {% else %}
                  <code>{{ r.value }}</code>
                {% endif %}
              </td>
              <td class="col-num">{{ r.count | num }}</td>
              <td class="col-num">{{ (r.count / dataset_count * 100) | round1 }}%</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No values recorded for this field.</p>
  {% endif %}
{% endblock table %}
