{% extends "_app_layout.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('css/components/subnav.css') }}" />
{% endblock styles %}

{% block header_left %}
  {% set subnav_tabs = [
    {
      "key": "orgs",
      "label": "Publishers",
      "url": "/organisations"
    },
    {
      "key": "harvesters",
      "label": "Harvesters",
      "url": "/harvesters"
    }
  ] %}
  {{ subnav(subnav_tabs, "orgs", "Publishers") }}

  {% set pills = [
      {"label": "Datasets", "value": datasets_label, "href": facet_url("datasets", "") , "aria": "Remove datasets filter: " ~ datasets_label} if datasets else none,
      {"label": "Created year", "value": created_year, "href": facet_url("created_year", ""), "aria": "Remove created year filter: " ~ created_year} if created_year else none,
      {"label": "Published in", "value": last_published_year, "href": facet_url("last_published_year", "") , "aria": "Remove year-last-published filter: " ~ last_published_year} if last_published_year else none,
    ] %}
  {{ filter_pills(pills) }}
{% endblock header_left %}

{% block header_right %}
  {{ pagination(start_index, end_index, shown_orgs, page, total_pages, pager_base) }}
{% endblock header_right %}

{% block table %}
  <div class="table-wrap">
    <table class="data-table data-table--wide-first">
      <thead>
        <tr>
          <th class="col-text">{{ sort_link("name", "Publisher", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("dataset_count", "Datasets", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("resource_count", "Links", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("views", "Views", sort, dir, facet_qs) }}</th>
          <th class="col-text">{{ sort_link("state", "Status", sort, dir, facet_qs) }}</th>
          <th class="col-text">{{ sort_link("approval_status", "Approved", sort, dir, facet_qs) }}</th>
          <th class="col-date">{{ sort_link("created", "Created", sort, dir, facet_qs) }}</th>
          <th class="col-date">{{ sort_link("last_published", "Last published", sort, dir, facet_qs) }}</th>
        </tr>
      </thead>
      <tbody>
        {% for org in orgs %}
          <tr>
            <th scope="row" class="col-text">
              {% if org.has_data %}
                <a href="/organisation/{{ org.slug }}">{{ org.name }}</a>
              {% else %}
                {{ org.name }}
              {% endif %}
            </th>
            <td class="col-num">{{ org.dataset_count | num }}</td>
            <td class="col-num">{{ org.resource_count | num }}</td>
            <td class="col-num">{{ org.views | num }}</td>
            <td class="col-text">
              <span class="badge badge-{{ org.state }}">{{ org.state }}</span>
            </td>
            <td class="col-text">
              <span class="badge badge-{{ org.approval_status }}">{{ org.approval_status }}</span>
            </td>
            <td class="col-date">{{ org.created }}</td>
            <td class="col-date">{{ org.last_published }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock table %}
