{% extends "_app_layout.html" %}

{% block header_right %}
  {{ pagination(start_index, end_index, shown_orgs, page, total_pages, pager_base, label="publishers", label_singular="publisher") }}
{% endblock header_right %}

{% block facets %}
  {{ facet_group("datasets") }}
  {{ facet_group("created_year") }}
  {{ facet_group("last_published_year") }}
{% endblock facets %}

{% block table %}
  <div class="table-wrap">
    <table class="data-table data-table--wide-first">
      <thead>
        <tr>
          <th class="col-text">{{ sort_link("name", "Publisher", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("dataset_count", "Datasets", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("resource_count", "Links", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("link_health", "Health", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("views", "Views", sort, dir, facet_qs) }}</th>
          <th class="col-date">{{ sort_link("created", "Created", sort, dir, facet_qs) }}</th>
          <th class="col-date">{{ sort_link("last_published", "Last published", sort, dir, facet_qs) }}</th>
        </tr>
      </thead>
      <tbody>
        {% for org in orgs %}
          <tr>
            <th scope="row" class="col-text">
              <a href="/organisation/{{ org.slug }}">{{ org.name }}</a>
            </th>
            <td class="col-num">{{ org.dataset_count | num }}</td>
            <td class="col-num">{{ org.resource_count | num }}</td>
            <td class="col-num">{% if org.link_health is not none %}<span{% if org.link_health < 80 %} style="color: red"{% endif %}>{{ org.link_health }}%</span>{% else %}—{% endif %}</td>
            <td class="col-num">{{ org.views | num }}</td>
            <td class="col-date">{{ org.created }}</td>
            <td class="col-date">{{ org.last_published }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock table %}
