{% extends "_app_layout.html" %}

{% block header_right %}
  {{ pagination(start_index, end_index, shown, page, total_pages, pager_base, label="reviews", label_singular="review") }}
{% endblock header_right %}

{% block facets %}
  {{ facet_group("overall") }}
  {{ facet_group("findability") }}
  {{ facet_group("metadata") }}
  {{ facet_group("resources") }}
{% endblock facets %}

{% block table %}
  <div class="table-wrap">
    <table class="data-table">
      <thead>
        <tr>
          <th class="col-text">{{ sort_link("title", "Dataset", sort, dir, facet_qs) }}</th>
          <th class="col-text">{{ sort_link("org", "Publisher", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("overall", "Overall", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("findability", "Findability", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("metadata", "Metadata", sort, dir, facet_qs) }}</th>
          <th class="col-num">{{ sort_link("resources", "Links", sort, dir, facet_qs) }}</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reviews %}
          <tr>
            <th scope="row" class="col-text">
              <a href="/dataset/{{ r.org_slug }}/{{ r.dataset_id }}">{{ r.title }}</a>
            </th>
            <td class="col-text">
              {{ r.org_display_name }}
            </td>
            <td class="col-num">
              <span class="score-badge score-{{ r.overall }}">{{ r.overall }}/5</span>
            </td>
            <td class="col-num">{{ r.findability }}/5</td>
            <td class="col-num">{{ r.metadata }}/5</td>
            <td class="col-num">{{ r.resources }}/5</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock table %}
